<h2>アカウント登録</h2>
<%= form_with(model: @user, local: true) do |f| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %> 件のエラーが発生したため、このアカウントは登録されませんでした。</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :名前 %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :メールアドレス %>
  <%= f.email_field :email %>
  <br>
  <%= f.label :パスワード %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :パスワードの確認 %>
  <%= f.password_field :password_confirmation %>
  <br>
  <br>
  <%= f.submit "アカウント作成" %>
<% end %>

<!-- 暫定デザイン -->
