<div class= main>
    <table>
      <% @records.each do |record| %>
        <tr>
          <td>
            <div class="box">
              <p><b>投稿者： <%= record.user.name %></b></p>
              <%= image_tag record.image %><br><%= simple_format(record.content) %><br>
              <div class="icon">
                <%= link_to image_tag('pen.png'), edit_record_path(record.id) %>　
                <%= link_to image_tag('delete2.png'), record_path(record.id), method: :delete, data: {confirm: '削除を実行しますか？'} %><br>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
</div>
